<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} {% endblock title %} | Unibiztec</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {% load static %}
  <link rel="icon" href="{% static 'images/favicon.png' %}" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/AdminLTE.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/all-skins.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-timepicker.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/switchery.min.css' %}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" rel="stylesheet" />
  <link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.js' %}"></script>

  <style>
    .open-notification::before {
      display: none;
    }

    .open-notification {
      float: right !important;
    }

    .dropdown-menu.usr-menu {
      position: absolute !important;
    }

    li.dropdown.user.user-menu {
      float: right;
    }

    @media(max-width:575px) {
      .navbar-custom-menu {
        display: none;
      }
    }

    @media(max-width:450px) {
      .home-bx .col-xs-6 {
        width: 90% !important;
        margin: auto;
        float: inherit;
      }
    }
  </style>
  
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
        <!-- Main Header -->
    <header class="main-header">

      <!-- Logo -->
      <a href="{% url 'dashboard' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>UnibizTec</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>UnibizTec</b></span>
      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->

              <!-- Right Side Of Navbar -->
              <ul class="nav navbar-nav navbar-left">
                <!-- Authentication Links -->

                <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{% static 'images/avatar.png' %}" class="user-image" alt="Administrator">
                    <span class="hidden-xs">{{request.user}}</span>
                    &nbsp; <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu usr-menu">
                    <!-- User image -->
                    <li class="user-header">
                      <img src="{% static 'images/avatar.png' %}" class="img-circle" alt="{{request.user}}">

                      <p>
                        {{request.user}}
                      </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">

                      <div class="pull-left">
                        <a href="" class="btn btn-default btn-flat">Change Password</a>
                      </div>
                      <div class="pull-right">
                        <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sign out</a>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:void(0);" data-toggle="control-sidebar"></a>
                </li>
               </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
          </ul>
        </div>
      </nav>
    </header>

    {% include "includes/sidebar.html" %}

    {% block content %} {% endblock content %}

    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
  
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; {% now "Y" %} <a href="{% url 'login' %}" target="_blank">Unibiztec</a>.</strong> All rights reserved.
      </footer>
  
      <div class="control-sidebar-bg"></div>
    </div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/fastclick.js' %}"></script>
    <script src="{% static 'js/adminlte.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-timepicker.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/ckeditor.js' %}"></script>
    <script src="{% static 'js/switchery.min.js' %}"></script>
    <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/toastr-init.js' %}"></script>
    <script>
      $(function() {
        $('#example1').DataTable()
        $('#example2').DataTable({
          'paging': true,
          'lengthChange': false,
          'searching': false,
          'ordering': true,
          'info': true,
          'autoWidth': false
        })
      })
    </script>
    <script>
      if ($('#editor').length) {
        $(function() {
          CKEDITOR.replace('editor');
        });
      }
    </script>
    <script>
       function isNumberKey(evt) {
              var charCode = (evt.which) ? evt.which : evt.keyCode;
              if (charCode > 31 && (charCode < 48 || charCode > 57))
                  return false;
              return true;
          }
    </script>
{% block script %} {% endblock script %}
  
{% if messages %}
 {% for message in messages %}
 <script>
    // toastr.{{ message.tags }}('{{ messages }}')
 </script>

  {% endfor %}
 {% endif %}
  </body>
  
  </html>