{% extends 'layouts/base.html' %}
{% block title %} Candidate Form {% endblock title %}
{% block content %}
{% load custom_tags %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Closed Candidates
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li>Assigned Candidates</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <!--<div class="col-md-1"></div>  -->
            <div class="col-md-12">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- Horizontal Form -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Closed Candidates</h3>
                    </div>
                    <!-- /.box-header -->
                   
                        <div class="box-body">
                            <table id="can_table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Interview Code</th>
                                        <th>Assign From</th>
                                        <th>Candidate Name</th>
                                        <th>Mobile No.</th>
                                        <th>Email ID</th>
                                        <th>Department</th> 
                                        <th>
                                            <center>Action</center>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for d in data %}
                                  
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{d.candidate.token}}</td>
                                        <td>{{d.assign_from}}</td>
                                        <td>{{d.candidate.name}}</td>
                                        <td>{{d.candidate.mobile}}</td>
                                        <td>{{d.candidate.email}}</td>
                                        <td>{{d.candidate.dept_id.dept_name|default:''}}</td>
                                        
                                        <td>
                                            <center>
                                                <a class="btn btn-primary" href="{% url 'candidate_info' token=d.candidate.token %}" title="View"><i class="fa fa-arrows"></i></a>&nbsp;&nbsp;
                                               
                                            </center>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
            <!--<div class="col-md-1"></div>    -->
        </div>
    </section>
</div>

{% endblock content %}
