{% extends 'layouts/base.html' %}
{% block title %} Home {% endblock title %}
{% block content %} 
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
   <section class="content-header">
   </section>

<!-- Main content -->
   <section class="content home-bx">
     <!-- Small boxes (Stat box) -->
     <div class="row">
       <!-- ./col -->
       
       <!-- <div class="col-lg-3 col-sm-4 col-xs-6">
         <div class="small-box bg-green" style="box-shadow: 4px 4px 4px grey;">
           <div class="inner">
             <h3>{{a1}}</h3>
             <p>&nbsp;</p>
           </div>
           <div class="icon">
             <i class="fa fa-users"></i>
           </div>
           <a href="{% url 'candidates_listing' %}" class="small-box-footer">Users</a>
         </div>
       </div> -->
       <div class="col-lg-3 col-sm-4 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-blue" style="box-shadow: 4px 4px 4px grey;">
           <div class="inner">
             <h3>{{a2}}</h3>
             <p>&nbsp;</p>
           </div>
           <div class="icon">
             <i class="fa fa-users"></i>
           </div>
           <a href="{% url 'candidates_listing' %}" class="small-box-footer">Candidates List</a>
         </div>
       </div>
      
       
   </div>
    
</section>

</div> 

{% endblock content %}