<aside class="main-sidebar">
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu tree" data-widget="tree">
        <!-- <li class="header">Main Navigation</li> -->
        <li class="{% if request.path == '/dashboard/' %}active{% endif %}"><a href="{% url 'dashboard' %}"><i class="fa fa-tachometer"></i> <span>Dashboard </span></a></li>
        <li class="{% if request.path == '/candidate-form/' %}active{% endif %}"><a href="{% url 'candidate_form' %}"><i class="fa fa-user-plus"></i> <span>Candidate Form</span></a></li>
        <li class="{% if request.path == '/candidates-form/' %}active{% endif %}"><a href="{% url 'candidates_listing' %}"><i class="fa fa-users"></i> <span>Candidates Listing</span></a></li>
        <li class="{% if request.path == '/assigned-candidates/' %}active{% endif %}"><a href="{% url 'assigned_candidates' %}"><i class="fa fa-user"></i> <span>Assigned Candidates</span></a></li>
        <li class="{% if request.path == '/closed-candidates/' %}active{% endif %}"><a href="{% url 'closed_candidates' %}"><i class="fa fa-user-times"></i> <span>Closed Candidates</span></a></li>
        </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>